# Unity writes a trailing space after some empty YAML values.
*.asset whitespace=-blank-at-eol
*.meta whitespace=-blank-at-eol
*.unity whitespace=-blank-at-eol
*.scenetemplate whitespace=-blank-at-eol
